@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
body {
  background-color: #eff6e0;
}
.handwriting {
  font-family: "Great Vibes", cursive;
  color: #202020;
}
.mainText {
  font-size: 72px;
  text-align: center;
  margin: 10px 0px 25px 0px;
}
.blockCenter {
  margin: auto;
  width: 50vw;
}
.navElement {
  margin: 0px 32px;
  font-size: 16px;
  text-decoration: none;
  color: #202020;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.bdayGirlImg {
  width: 150px;
  border: 5px solid #124559;
  border-radius: 3px;
  padding: 5px;
}
.imgContainer {
  width: 70%;
  margin: auto;
}
.bdayWish {
  text-align: center;
  color: #124559;
}
.bdayWishContainer {
  background: #598392;
  padding: 8px;
  border-radius: 15px;
  margin: 15px 45px;
}

.dishesContainer {
  border: 2px solid #01161e;
  background-color: #01161e;
  padding: 16px;
  width: fit-content;
  margin: auto;
  border-radius: 50px;
}
.dishesContainer p {
  color: #aec3b0;
}
